/* Author(s) = Yao Li (mgzjys@gmail.com)
 * Date: 2020 March
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  /*position:relative;
  left: 5%;
  top: 50%;
  line-height: 1;*/
  max-width: 1200px;
  margin: auto;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

b {
  font-weight: bold;
  font-size: 1.05em;
}

body {
  font-family: "Optima", Helvetica, Arial, sans-serif;
  font-size: 12px;
  /*  overflow: hidden; /* Hide scrollbars */
  color: #777;
}

@font-face {
  font-family: 'Copperplate';
  src: url('fonts/OPTICopperplate-Heavy.eot'), url('fonts/OPTICopperplate-Heavy.ttf') format('truetype'), url('fonts/OPTICopperplate-Heavy.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

#play-button {
  position: relative;
  top: 10px ;
  bottom: 0;
  background: url('https://mgzjys.github.io/US_Covid19_County/img/PL.png') center center no-repeat;
  background-size: 64px 64px;
  background-color: #FFFFFF;
  border-radius: 50%;
  border-width: 0;
  height: 64px;
  left: 9%;
  margin: -64px 0 0 -64px;
  top: 50%;
  width: 64px;
  cursor: pointer;
}

#play-button:hover {
  cursor: pointer;
  background-color: #D3D3D3;
}

#play-button:focus {
  outline: 0;
}

#buttondescription {
  /*  font-family: "Copperplate", Helvetica, Arial, sans-serif;*/
  float: left;
  font-family: "Optima", Helvetica, Arial, sans-serif;
  text-align: left;
  margin-bottom: 0px;
  width: 210px;
  font-size: 15px;
}

.ticks {
  font-size: 10px;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #dcdcdc;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

object {
  float: right;
  width: 900px;
  height: 300px;
  position: absolute;
  margin-top: 10px;
}

.underlay {
  float: right;
  width: 900px;
  height: 300px;
  position: absolute;
  margin-top: 10px;
}

#wrapper {
  width: 1200px;
  font-size: 1em;
  margin: 10px;
}

div.tooltip {
  position: absolute;
  text-align: left;
  width: 200px;
  height: auto;
  background: white;
  border: 1px solid #ddd;
  pointer-events: none;
  font: 12px sans-serif;
  z-index: 2;
  padding: 10px;
  opacity: 0;
  line-height: 18px;
}

#mapa svg:active {
  cursor: move;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.path:hover {
  cursor: pointer;
}

#mapa1 svg:active {
  cursor: move;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

#countyData {
  float: left;
  width: 200px;
  pointer-events: none;
}

#countySlider {
  float: left;
  padding-top: 120px;
  margin-bottom: 12px;
  height: 36px;
  width: 1200px;
}

.axis {
  fill: rgba(172, 172, 172, 1);
}

.slideraxis {
  fill: #bbb;
}

path.cursor {
  fill: #a50f15;
}

path1.cursor {
  fill: #a50f15;
}

#monthday {
  font-size: 20px;
  float: left;
  height: 100;
  width: 300px;
  padding-top: 10px;
  border-bottom: #777 1px solid;
}

#maptitle {
  /*  font-family: "Copperplate", Helvetica, Arial, sans-serif;*/
  font-family: "Optima", Helvetica, Arial, sans-serif;
  text-align: center;
  margin-top: 0px;
  font-size: 45px;
}

#mapsubtitle {
  font-family: "Arial Narrow", Helvetica, Arial, sans-serif;
  text-align: center;
  margin-top: 0;
  font-size: 15px;
}

#block_container {
  float: left;
  width: 1200px;
}

#creditinfor {
  font-family: "Arial Narrow", Helvetica, Arial, sans-serif;
  float: right;
  font-size: 9px;
  display: inline-table;
}

#datainfor {
  font-family: "Arial Narrow", Helvetica, Arial, sans-serif;
  float: left;
  font-size: 9px;
  display: inline-table;
}

#contributions {
  font-family: "Arial Narrow", Helvetica, Arial, sans-serif;
  float: right;
  font-size: 9px;
  display: inline-table;
}

#datasource {
  font-family: "Arial Narrow", Helvetica, Arial, sans-serif;
  float: left;
  font-size: 9px;
  display: inline-table;
}

/*  padding-top: 20px;
  margin-bottom: -15px;
  margin-left: 620px;*/
#year {
  float: left;
  opacity: 0;
  font-size: 36px;
  padding-top: 0px;
  width: 300px;
}

#maxSum {
  float: left;
  width: 210;
  height: 200px
    /*  margin-top: 10px;*/
  padding-top: 0px;
}

#totalcasenumber {
  margin-top: 20px;
  float: left;
  width: 300px;
  font-size: 20px;
}

#legendname {
  margin-top: 60px;
  float: left;
  height: 20px;
  width: 300px;
  font-size: 15px;
  font-weight: bold;
  pointer-events: none;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
}

.totalnumber {
  margin-bottom: 10px;
  padding-top: 10px;
  border-bottom: solid 1px #777;
  width: 300px;
}

#maxcountynum {
  font-size: 20px;
  padding-bottom: 0px;
  float: left;
  /*  font-weight: bold;*/
}

#posicountynum {
  padding-bottom: 0px;
  float: left;
  margin-right: 10px;
  font-size: 20px;
  /*  font-weight: bold;*/
}

.icono {
  float: left;
  width: 300px;
}

.iconoMaximo {
  height: 30px;
  width: 30px;
  float: right;
  margin: 20px 30px 0 0;
  background: url(../../img/iconos.png)-99px 100px;
}

.iconoMinimo {
  height: 30px;
  width: 30px;
  background: url(../../img/iconos.png)-178px 100px;
  float: left;
  margin: 20px 30px 0 0;
}

.mano {
  margin: 10px 5px 0 0;
  width: 40px;
  height: 50px;
  background: url(../../img/iconos.png)-250px 100px;
  float: left;
}

#slider {
  float: left;
  width: 1300px;
  height: 45px;
}

.inicio {
  padding-left: 4px;
  margin-top: 0px;
  float: left;
  font-size: 0.8em;
}

.final {
  padding-left: 10px;
  padding-top: 0px;
  height: 12px;
  float: right;
  font-size: 0.8em;
}

#legend_c {
  float: left;
  /*display: inline-block;*/
  width: 300px;
  height: 30px;
  font-size: 0.9em;
  text-align: center;
  padding-top: 10px;
  pointer-events: none;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
}

.key {
  float: left;
  width: 60px;
  height: 20px;
}

.key:last-child {
  border-right: none;
}

.masCinco,
.masQuince,
.masVeinticinco,
.masTreintaYCinco,
.masCuarenta {
  height: 10px;
}

.masCinco .color {
  background-color: #ececec;
}

.masQuince .color {
  background-color: #abdda4;
}

.masVeinticinco .color {
  background-color: #ffffbf;
}

.masTreintaYCinco .color {
  background-color: #f4a582;
}

.masCuarenta .color {
  background-color: #ca0020;
}

.background {
  fill: none;
  pointer-events: all;
}

.textoLeyenda {
  height: 10px;
  width: 70px;
  float: left;
}

.textoLeyenda span {
  position: relative;
  left: 0px;
  text-align: center;
  top: 25px;
}

//fin estilos leyenda
.move:hover {
  cursor: pointer;
}

#dataMap {
  float: left;
  width: 1230px;
  height: 520px;
}

#mapas {
  float: right;
  /*  margin-left: 10px;*/
  padding-top: 0px;
  width: 900px;
  height: 520px;
}

#canarias {
  //float: right;
  height: 100px;
  width: 240px;
  top: -115px;
  left: 360px;
  position: relative;
  border-top: solid 1px graytext;
  border-left: solid 1px graytext;
  border-radius: 30px 0;
}
